webapps/*
mysql/tomcat_data/*.gz
mysql/wordpress_data/*.gz
logs/*
fireworks/*
diagram/*
tomcat/analysis-service
java-application-builder/downloads/*
java-application-builder/logs
neo4j/data/*
solr/data/*
neo4j/data/*
neo4j/*.tgz
toc_files/*
tmp_files/*
