webapps/*
mysql/tomcat_data/*.gz
mysql/wordpress_data/*.gz
mysql/wordpress_data/_set_host.sh
logs/*
fireworks/*
diagram/*
tomcat/analysis-service
java-application-builder/downloads/*
neo4j/data/*
solr/data/*
neo4j/data/*
neo4j/*.tgz
toc_files/*
tmp_files/*
